.hidden {
    visibility: hidden
}

.nodisplay {
    display: none
}

.content_main p a:link {
    text-decoration: underline
}

.content_main p.caption a {
    text-decoration: underline
}

.content_main p.caption a:hover {
    text-decoration: underline
}

.content_main h2 a:link {
    text-decoration: underline
}

.content_main a:visited {
    color: #154273
}

.content_main select {
    font-size: 100%
}

.bd-binary-info {
    display: block;
    color: #a2a2a2;
    margin-left: 16px
}

p.belangrijke_data {
    font-size: 14px;
    font-weight: bold
}

.bd-no-padding {
    padding: 5px 5px 0 5px !important
}

.bd-inleiding {
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px
}

.bd-letop {
    font-weight: bold;
    margin: 0 0 0 20px
}

.bd-letop + p {
    margin-left: 20px
}

.transparent {
    background-color: transparent !important
}

.nav_sub .mod {
    margin-left: 0;
    margin-right: 4px
}

.bd-geen-style-type {
    background: 0;
    margin-left: 0;
    padding-left: 0
}

.default-border {
    border: 1px solid #ccc
}

a.no-decoration, a.no-decoration:hover, a.no-decoration:visited {
    text-decoration: none !important
}

.js_cel {
    padding-bottom: 10px
}

ol li {
    margin-bottom: .5em
}

ul.bullet {
    list-style-type: disc
}

ul.bullet li {
    margin-left: 16px;
    padding-left: 0
}

.superscript, .subscript {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    font-size: .9em
}

.superscript {
    bottom: 1ex
}

.subscript {
    top: .5ex
}

.content_main ul.bd-icons {
    list-style-type: none;
    margin-left: 0
}

.content_main ul.bd-icons li {
    padding-left: 16px
}

.min {
    background-position: -620px -19px
}

.plus {
    background-position: -599px -40px
}

.rss-light {
    background-position: -579px -61px
}

.rss_dark {
    background-position: -559px -78px
}

.email {
    background-position: -538px -98px
}

.print {
    background-position: -517px -118px
}

.document, .content_main ul li.exe, .content_main ul li.gz, .content_main ul li.package,
.content_main ul li.dmg {
    background-position: -498px -140px
}

.audio {
    background-position: -478px -159px
}

.play {
    background-position: -458px -180px
}

.table {
    background-position: -438px -199px
}

.excelfile {
    background-position: -418px -220px
}

.worddoc {
    background-position: -397px -240px
}

.pdf {
    background-position: -376px -263px
}

.html-page {
    background-position: -355px -283px
}

.fill-in {
    background-position: -334px -304px
}

.edit-settings {
    background-position: -313px -324px
}

.new-document {
    background-position: -292px -347px
}

.delete {
    background-position: -272px -367px
}

.zoom {
    background-position: -252px -389px
}

.fav-dark {
    background-position: -230px -409px
}

.fav-light {
    background-position: -208px -431px
}

.ppt-file {
    background-position: -188px -451px
}

.member {
    background-position: -168px -473px
}

.members {
    background-position: -146px -493px
}

.lock {
    background-position: -128px -513px
}

.readspeaker {
    background-position: -105px -532px
}

.close {
    background-position: -83px -554px
}

.close-on {
    background-position: -60px -578px
}

.home {
    background-position: -40px -600px
}

.text-balloon {
    background-position: -19px -620px
}

.content_main ul li.min {
    background-position: -620px -18px
}

.content_main ul li.plus {
    background-position: -599px -38px
}

.content_main ul li.rss-light {
    background-position: -579px -59px
}

.content_main ul li.rss_dark {
    background-position: -559px -78px
}

.content_main ul li.email {
    background-position: -538px -98px
}

.content_main ul li.print {
    background-position: -517px -118px
}

.content_main ul li.document, .content_main ul li.exe, .content_main ul li.gz,
.content_main ul li.package, .content_main ul li.dmg {
    background-position: -498px -140px
}

.content_main ul li.audio {
    background-position: -478px -159px
}

.content_main ul li.play {
    background-position: -458px -179px
}

.content_main ul li.table {
    background-position: -438px -197px
}

.content_main ul li.excelfile {
    background-position: -418px -220px
}

.content_main ul li.worddoc {
    background-position: -397px -240px
}

.content_main ul li.pdf {
    background-position: -376px -263px
}

.content_main ul li.html-page {
    background-position: -355px -283px
}

.content_main ul li.fill-in {
    background-position: -334px -303px
}

.content_main ul li.edit-settings {
    background-position: -313px -324px
}

.content_main ul li.new-document {
    background-position: -292px -347px
}

.content_main ul li.delete {
    background-position: -272px -367px
}

.content_main ul li.zoom {
    background-position: -252px -389px
}

.content_main ul li.fav-dark {
    background-position: -230px -409px
}

.content_main ul li.fav-light {
    background-position: -208px -431px
}

.content_main ul li.ppt-file {
    background-position: -188px -450px
}

.content_main ul li.member {
    background-position: -168px -471px
}

.content_main ul li.members {
    background-position: -146px -493px
}

.content_main ul li.lock {
    background-position: -128px -510px
}

.content_main ul li.readspeaker {
    background-position: -105px -532px
}

.content_main ul li.close {
    background-position: -83px -554px
}

.content_main ul li.close-on {
    background-position: -60px -578px
}

.content_main ul li.home {
    background-position: -40px -599px
}

.content_main ul li.text-balloon {
    background-position: -19px -620px
}

.bd-icons.bgbefore {
    padding-left: 16px
}

.external {
    background-position: -63px -78px
}

ul.external, ul.external ul {
    list-style-type: none;
    margin-left: 0
}

ul.external li {
    margin-bottom: .5em;
    padding-left: 16px
}

.closed-arrow-down {
    background-position: -34px -110px
}

.closed-arrow-right {
    background-position: -20px -127px
}

.interne-link {
    background-position: -93px -47px
}

.bd-arrows.bgbefore {
    padding-left: 12px
}

.content_main .bd-lees-verder a:link, .content_main .bd-lees-verder a:visited {
    text-decoration: none;
    margin-bottom: .5em;
    padding-left: 11px
}

.content_main .bd-lees-verder a:hover {
    text-decoration: underline
}

.bd-ondertitel {
    color: gray;
    font-style: italic;
    margin-bottom: 1em
}

.breadcrumb .imgreplacement {
    height: 7px;
    margin: 0 3px;
    width: 7px
}

.breadcrumblast {
    background-position: left -90px
}

.sub {
    margin: 10px
}

.content_add ul.ul_table li span.left {
    width: 75px
}

.content_add ul.ul_table li span.right {
    width: 120px;
    line-height: 12px;
    padding-bottom: 5px
}

.content_main ul.li_datum li span.left {
    width: 120px
}

.content_main ul.li_datum li span.right {
    width: 290px
}

.content_main ul.li_jaar li span.left {
    width: 120px
}

.content_main ul.li_jaar li span.right {
    width: 290px
}

.content_main ul.li_middel li span.left {
    width: 260px
}

.content_main ul.li_middel li span.right {
    width: 150px
}

ul.ul_table {
    clear: left
}

ul.ul_table li span.left {
    display: table-column;
    padding-left: 11px
}

ul.ul_table li span.right {
    display: table-column
}

ul.ul_table li {
    display: table-row
}

.content_add .box h2 a:link, .content_add .box h2 a:hover, .content_add .box h2 a:visited,
.content_add h3 a:link, .content_add h3 a:hover, .content_add h3 a:visited {
    color: #154273
}

.content_add .box h2 a:visited, .content_add h3 a:visited {
    text-decoration: none
}

#content .content {
    padding-left: 0
}

#content .content.full {
    padding-left: 20px
}

#content .breadcrumb {
    width: 100%
}

.nav_wrapper {
    width: 26.75%
}

.main_wrapper {
    width: 73.25%
}

.content > .main_wrapper {
    width: 72.5%
}

.nav_sub .mod.box.open.lighter, .content_add .mod.box.open.lighter {
    border: 1px solid #ccc;
    background-color: #f3f5f6;
    width: 210px
}

.clusterpagina .bd-lees-verder {
    margin-top: -15px
}

.clusterpagina .content_main p + ul.hyperlinks {
    margin-top: -15px
}

.bd-wwp-content h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0
}

.Kop {
    margin-left: 16px;
    margin-bottom: 0;
    font-weight: bold
}

.Inspringen {
    margin-left: 16px
}

.letopopsomming {
    margin-left: 18px;
    padding-left: 1.2em
}

.exampletext {
    margin-left: 18px
}

.message_letop, .message_info {
    background-position: .5em .5em;
    background-repeat: no-repeat;
    background-color: #fdf6bb;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 8px 10px 5px 34px
}

.message_voorbeeld {
    margin-top: 1em;
    padding: 8px 10px 5px 34px
}

.LetOpKop {
    margin-bottom: 0;
    font-weight: bold
}

.bd-letopkop {
    margin-bottom: 0;
    font-weight: bold
}

.bd-kop {
    margin-bottom: 0;
    font-weight: bold
}

.red .nav_sub li.open li.open li.open li.open li.open li.open a, .red .nav_sub li.open li.open li.open li.open li.open li.open li.open a,
.red .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open a {
    background-color: #f9dfdd
}

.red .nav_sub li.open li.open li.open li.open li.open li.open li.active a,
.red .nav_sub li.open li.open li.open li.open li.open li.open li.open li.active a,
.red .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.active a {
    background-color: #f2bfbb
}

.light_blue .nav_sub li.open li.open li.open li.open li.open li.open a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.open a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open a {
    background-color: #eef7fb
}

.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.active a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.open li.active a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.active a {
    background-color: #ddeff8
}

.mint_green .nav_sub li.open li.open li.open li.open li.open li.open a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open a {
    background-color: #ebf8f4
}

.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.active a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open li.active a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.active a {
    background-color: #d6f1e9
}

.red .nav_sub li.open li.open li.open li.open li.open li.open li a, .red .nav_sub li.open li.open li.open li.open li.open li.open li.open li a,
.red .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li a,
.red .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.open li a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li a, .light_blue .nav_sub li.open li.open li.open li.open li.open li.open li a,
.light_blue .nav_sub li.open li.open li.open li.open li.open li.open li.open li a,
.light_blue .nav_sub li.open li.open li.open li.openli.open li.open li.open li.open li a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li a, .mint_green .nav_sub li.open li.open li.open li.open li.open li.open li a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open li a,
.mint_green .nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li a {
    background-color: transparent
}

.red .box.open.light h2, .red .box.open.light h3, .red .box.open.light h4,
.red .box.open.light h5, .red .box.open.light h6 {
    background-color: #d52b1e
}

.red .box.open.light {
    border: 1px solid #d52b1e
}

.light_blue .box.open.light h2, .light_blue .box.open.light h3, .light_blue .box.open.light h4,
.light_blue .box.open.light h5, .light_blue .box.open.light h6 {
    background-color: #8fcae7
}

.light_blue .box.open.light {
    border: 1px solid #8fcae7
}

.mint_green .box.open.light h2, .mint_green .box.open.light h3, .mint_green .box.open.light h4,
.mint_green .box.open.light h5, .mint_green .box.open.light h6 {
    background-color: #76d2b6
}

.mint_green .box.open.light {
    border: 1px solid #76d2b6
}

.mint_green .box.open.lichtst h2 {
    background-color: #ebf8f4
}

.mint_green .box.open.lichtst {
    border: 1px solid #d6f1e9
}

.nav_sub li.open li.open li.open li.open li.open li.open li a, .nav_sub li.open li.open li.open li.open li.open li.active li a {
    padding: .2em 1em .2em 8.8em;
    width: 11.6em
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open li a,
.nav_sub li.open li.open li.open li.open li.open li.open li.active li a {
    padding: .2em 1em .2em 9.8em;
    width: 10.6em
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li a,
.nav_sub li.open li.open li.open li.open li.open li.open li.open li.active li a {
    padding: .2em 1em .2em 10.8em;
    width: 9.6em
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.open li a,
.nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.active li a {
    padding: .2em 1em .2em 11.8em;
    width: 8.6em
}

.nav_sub li.open li.open li.open li.open li.open li.open a {
    background-position: 6.8em -82px
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open a {
    background-position: 7.8em -82px
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open li.open a {
    background-position: 8.8em -82px
}

.nav_sub li.open li.open li.open li.open li.open li.open li.open li.open li.open a {
    background-position: 9.8em -82px
}

#subnavigatie .unit {
    margin-top: 1em;
    margin-left: 1em;
    padding-left: 1em;
    width: 92%
}

#subnavigatie .unit ul {
    margin-left: -1.5em;
    margin-bottom: 1em
}

#subnavigatie .unit li a:hover {
    text-decoration: underline;
    background-color: transparent !important
}

.mod .box ul.hyperlinks {
    margin-left: 1em
}

ul.hyperlinks, ul.hyperlinks ul {
    list-style-type: none;
    margin-left: 0
}

ul.hyperlinks li {
    margin-bottom: .5em;
    padding-left: 11px
}

#hoofd_content ul.hyperlinks li a {
    text-decoration: none
}

#hoofd_content ul.hyperlinks li a:hover, #hoofd_content ul.hyperlinks li a:hover span {
    text-decoration: underline
}

ul.lower-alpha {
    margin-left: 2.4em;
    list-style-type: lower-alpha
}

ul.lower-alpha li {
    margin-bottom: .5em;
    padding-left: 0
}

ol.lower-alpha {
    list-style-type: lower-alpha
}

.themapagina .content_main h3 a {
    text-decoration: underline
}

.themapagina .light_blue .visual {
    background-color: #ddeff8
}

.themapagina .red .visual {
    background-color: #f2bfbb
}

.themapagina .mint_green .visual {
    background-color: #d6f1e9
}

.themapagina .visual {
    margin-top: 5px
}

.themapagina .view {
    padding: 0 5px 12px 0
}

.themapagina .view a {
    text-decoration: underline;
    margin-left: 5px
}

.themapagina .visual h2 {
    padding-bottom: 0
}

.themapagina .visual p {
    padding-bottom: 0;
    padding-top: 5px
}

ul.special li {
    margin: 0
}

.themapagina .mod.box.visual p img {
    margin-bottom: 12px
}

.themapagina .js_cel h2 {
    font-size: 1.25em
}

.nieuwsbrief .details {
    color: gray
}

.nieuwsbrief h1 {
    color: #900079;
    margin-bottom: 0
}

.nieuwsbrief .content_main h2 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
    padding-top: .2em;
    padding-bottom: 0
}

.nieuwsbrief .mod.box .bd-lees-verder {
    padding-top: 0
}

.light_blue .bd-donker {
    background-color: #8fcae7
}

.light_blue .bd-lichter {
    background-color: #ddeff8
}

.light_blue .bd-lichtermidden {
    background-color: #b8ddf0
}

.light_blue .bd-lichtst {
    background-color: #eef7fb
}

.light_blue .bd-leeg {
    border: solid 1px #ccc
}

.mint_green .bd-donker {
    background-color: #76d2b6
}

.mint_green .bd-lichter {
    background-color: #d6f1e9
}

.mint_green .bd-lichtermidden {
    background-color: #a7e1ce
}

.mint_green .bd-lichtst {
    background-color: #ebf8f4
}

.red .bd-donker {
    background-color: #d52b1e
}

.red .bd-lichter {
    background-color: #f2bfbb
}

.red .bd-lichtst {
    background-color: #f9dfdd
}

.light_blue .bd-open-rand-donker {
    border: 1px solid #8fcae7
}

.light_blue .bd-open-rand-lichter {
    border: 1px solid #ddeff8
}

.light_blue .bd-open-rand-lichtst {
    border: 1px solid #eef7fb
}

.light_blue .bd-open-rand-leeg {
    border: solid 1px #ccc
}

.mint_green .bd-open-rand-donker {
    border: 1px solid #76d2b6
}

.mint_green .bd-open-rand-lichter {
    border: 1px solid #d6f1e9
}

.mint_green .bd-open-rand-lichtst {
    border: 1px solid #ebf8f4
}

.red .bd-open-rand-donker {
    border: 1px solid #d52b1e
}

.red .bd-open-rand-lichter {
    border: 1px solid #f2bfbb
}

.red .bd-open-rand-lichtst {
    border: 1px solid #f9dfdd
}

.bd-lichtgrijs {
    background-color: #f3f5f6
}

.bd-lichtgrijs-rand {
    background-color: #f3f5f6;
    border: 1px solid #e1e1e1
}

.bd-lichtgrijs-open-rand {
    border: 1px solid #e1e1e1
}

.bd-grijs {
    background-color: #e1e1e1
}

.bd-middengrijs {
    background-color: #c4caca
}

.bd-donkergrijs {
    background-color: #535353
}

.bd-donkergrijs, .bd-donkergrijs a:link, .bd-donkergrijs a:visited {
    color: #fff
}

.box.open.bd-lichtgrijs h2, .box.open.bd-lichtgrijs h3, .box.open.bd-lichtgrijs h4,
.box.open.bd-lichtgrijs h5, .box.open.bd-lichtgrijs h6 {
    background-color: #f3f5f6
}

.box.open.bd-lichtgrijs {
    background-color: #fff;
    border: 1px solid #f3f5f6
}

.box.open.bd-grijs h2, .box.open.bd-grijs h3, .box.open.bd-grijs h4,
.box.open.bd-grijs h5, .box.open.bd-grijs h6 {
    background-color: #e1e1e1
}

.box.open.bd-grijs {
    background-color: #fff;
    border: 1px solid #e1e1e1
}

.box.open.bd-middengrijs h2, .box.open.bd-middengrijs h3, .box.open.bd-middengrijs h4,
.box.open.bd-middengrijs h5, .box.open.bd-middengrijs h6 {
    background-color: #c4caca
}

.box.open.bd-middengrijs {
    background-color: #fff;
    border: 1px solid #c4caca
}

.vijfvragen img {
    float: left;
    margin: 1em
}

.uitgelicht img {
    float: right;
    margin: 1em
}

.bd-pubdate {
    float: none;
    height: 3em;
    margin-right: 2em;
    padding-top: 10px
}

.bd-pubdate p {
    display: inline
}

.kop-info-type {
    font-family: Arial, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: .6em;
    margin-top: -0.1em
}

.nieuwsbericht .details {
    color: gray;
    margin-bottom: 0
}

.nieuwsbericht h1 {
    margin-top: .3em;
    margin-bottom: .3em
}

.nieuwsbericht .content_main .line .right {
    padding-right: 15px
}

.overzicht h1 {
    margin-bottom: .3em
}

.overzicht .content_main form {
    padding-right: 12px;
    padding-bottom: 10px
}

.overzicht .content_main form {
    padding-right: 20px;
    padding-bottom: 10px
}

.overzicht fieldset ol {
    margin-left: 0;
    padding: 0
}

.overzicht fieldset li {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 4px 2px 5px 3px;
    background-color: #ddeff8
}

.overzicht fieldset ol li label {
    float: left;
    width: 100px
}

.overzicht fieldset ol li select {
    width: 155px;
    border: 1px solid #000;
    float: inherit
}

.overzicht fieldset ol li a {
    text-decoration: underline
}

.overzicht fieldset ol li a.bd-icons.delete.bgbefore {
    margin-left: 5px;
    float: inherit;
    padding-right: 17px
}

.overzicht ol.alfabet {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    color: #c9c9c9
}

.overzicht ol.alfabet li {
    display: inline;
    padding-right: 4.8px;
    font-weight: bold
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .overzicht ol.alfabet li {
        padding-right: 5px
    }
}

.overzicht ol.alfabet li a {
    text-decoration: none
}

.overzicht ol.alfabet li a:hover {
    text-decoration: underline
}

.overzicht dl dt {
    padding-bottom: 5px;
    margin-top: 5px
}

dl dt {
    font-size: 11px;
    font-weight: normal;
    color: #154273
}

.overzicht dl {
    margin: -5px 0 0 0;
    padding-bottom: 10px
}

.overzicht dd {
    margin-left: 0;
    padding-left: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.overzicht .content_main .line .rsbtn_classic {
    padding-bottom: 6px
}

.content_main p a.rss-light:link {
    text-decoration: none
}

.overzicht .content_main .line .right {
    padding-right: 15px
}

.overzicht .nav_page {
    word-spacing: 4px
}

.overzicht .nav_page span.disabled {
    color: gray
}

.overzicht .bd-arrows span.js-close-block {
    margin: 0 4px 0 20px
}

.ww_levensmoment table {
    border-collapse: collapse;
    width: 97%
}

.ww_levensmoment table tbody tr td {
    border-top: solid 1px #7f7f7f;
    background-color: #eef7fb;
    padding: .4em .9em .4em .5em
}

.ww_levensmoment table thead tr th {
    font-weight: bold;
    background-color: #ddeff8;
    padding: .4em .9em .4em .5em
}

.ww_levensmoment table thead tr th p {
    font-size: 1em;
    margin: 0
}

.ww_levensmoment table tbody tr td {
    font-size: 1.1em
}

.ww_levensmoment table tbody tr td p {
    font-size: 1em;
    margin: 0;
    padding: 0
}

.ww_levensmoment table tbody tr td ul li {
    font-size: .9em
}

.ww_levensmoment table tbody tr td ul.hyperlinks li a {
    font-size: 1em
}

.wrapper .box h2 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
    padding-top: .5em;
    padding-bottom: 0
}

.wrapper .mod.box.dl-box li {
    color: #154273;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px
}

.wrapper .mod.box.dl-box li a:link, .mod.box.dl-box li a:visited {
    text-decoration: none
}

.wrapper .mod.box.dl-box li a:hover {
    text-decoration: underline
}

.mod.box.dl-box p.caption {
    padding-top: 0
}

.mod.box.dl-box.caption p {
    color: #767676;
    margin-top: -1em;
    padding-top: 0
}

.mod.box.dl-box ul.bd-icons {
    padding-bottom: 10px
}

.mod.box.dl-box ul li.readspeaker {
    background-position: -103px -530px
}

.mod.box.dl-box ul li.pdf {
    background-position: -374px -260px
}

.mod.box.dl-box ul li.document, .mod.box.dl-box ul li.exe, .mod.box.dl-box ul li.gz,
.mod.box.dl-box ul li.package, .mod.box.dl-box ul li.dmg, .mod.box.dl-box ul li.rpm,
.mod.box.dl-box ul li.deb {
    background-position: -496px -137px
}

.sitemap #hoofd_content li.nivo1 {
    background-image: none;
    padding-left: 0
}

.sitemap #hoofd_content h2, .sitemap #hoofd_content h3, .sitemap #hoofd_content h4 {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0
}

.sitemap #hoofd_content h3, .sitemap #hoofd_content h4 {
    font-weight: normal
}

.sitemap #hoofd_content li.nivo3 {
    margin-left: 10px
}

.sitemap #hoofd_content ul {
    padding-bottom: 20px
}

.sitemap.de #hoofd_content .size14 {
    width: 33.33333%
}

.sitemap.de #hoofd_content .size14 .col3 {
    width: 0
}

.box.media {
    padding-bottom: 10px
}

.content_add .box.media {
    padding-bottom: 0
}

.box.media * {
    color: black;
    font-size: 11px
}

.box.media form ol {
    padding: 0 5px
}

.box.media h3 {
    padding: 0 10px
}

.box.media .mediaplayer {
    padding-left: 10px
}

.content_main .box.media .mediaplayer, .content_add .box.media {
    padding-left: 0
}

.box.media ul.bd-arrows ul.bd-icons .play {
    background-position: -457px -177px
}

.box.media ul.bd-arrows ul.bd-icons li {
    padding-left: 15px
}

.box.media ul.bd-arrows ul.bd-icons {
    margin-left: -15px;
    padding-top: 5px
}

.box.media ul.bd-arrows li {
    padding-left: 15px
}

.box.media .closed-arrow-right {
    background-position: -15px -127px
}

.box.media .closed-arrow-down {
    background-position: -30px -110px
}

.box.media ul.bd-arrows div * {
    padding-top: 5px
}

.box.media .movie {
    padding-top: 12px
}

.box.media img {
    margin: 0
}

.movie, .audiocontent {
    width: 260px
}

.movie ul.bd-arrows li, .audiocontent ul.bd-arrows li {
    border: 1px solid #ccc;
    list-style-type: none
}

.movie ul.bd-arrows, .audiocontent ul.bd-arrows {
    padding: 0;
    margin: 10px -10px 0 10px
}

.content_main .movie ul.bd-arrows, .content_main .audiocontent ul.bd-arrows {
    margin-left: 0;
    margin-right: 0
}

.movie ul.bd-arrows li ul li, .audiocontent ul.bd-arrows li ul li {
    border: 0
}

.content_add .movie ul.bd-arrows, .content_add .audiocontent ul.bd-arrows {
    margin-left: 0;
    margin-right: 0
}

.content_add .movie, .content_add .audiocontent {
    width: 207px
}

.content_add .box.media h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0
}

.content_add .box.media .mediaplayer {
    padding-left: 0
}

.content_add .box.media .movie {
    padding-top: 8px
}

.box.media ul.bd-arrows li a:link, .box.media ul.bd-arrows li a:visited {
    text-decoration: none
}

.box.media ul.bd-arrows li a:hover, .box.media ul.bd-arrows li a:hover.jshref.js-link {
    text-decoration: underline
}

.box.media ul.bd-arrows li a.jshref, .jshref:hover {
    text-decoration: none
}

.video_uitgeschreven_tekst p {
    margin-bottom: 0
}

.box.media ul.bd-arrows li .video_uitgeschreven_tekst ul li {
    margin-bottom: 0;
    list-style-type: disc;
    background-image: none;
    padding-left: 0;
    font-size: 11px
}

#hoofd_content .box.media ul.bd-arrows li .video_uitgeschreven_tekst ul li {
    font-size: inherit
}

#hoofd_content .box.media {
    margin-bottom: 1em
}

#hoofd_content .box.media .movie {
    padding-top: 0
}

#home.doelgroeppagina .content_supp .mod.box.campagne {
    border: 0;
    background-color: #ddeff8
}

#home.doelgroeppagina .content_supp .mod.box.campagne img {
    margin: 0
}

#home.doelgroeppagina .content_supp .mod.box.campagne h2 {
    background-color: transparent;
    margin: .5em 0 -1.5em 0
}

#home.doelgroeppagina .content_supp .mod.box.campagne h2 + ul {
    margin-top: 1em
}

#home.doelgroeppagina .content_supp .mod.box.campagne p {
    margin: 1em 0 -1em 0
}

#home.doelgroeppagina .content_supp .mod.box.campagne p img {
    margin: -1em
}

.landingspagina #hoofd_content .box.alleen-afbeelding p {
    padding-bottom: 0;
    margin-bottom: 0
}

.landingspagina #hoofd_content .box.alleen-afbeelding p img {
    padding-top: 0;
    margin-top: 0
}

.landingspagina #hoofd_content .box.alleen-afbeelding {
    border: 0
}

.landingspagina #hoofd_content .box.alleen-afbeelding.bd-open-rand-donker img {
    border: 1px solid #8fcae7
}

.landingspagina #hoofd_content p img {
    margin-bottom: 0
}

.landingspagina #hoofd_content .mod.box p, .landingspagina #hoofd_content .mod.box ul {
    padding-top: 0
}

.landingspagina #hoofd_content .mod.box ul.hyperlinks {
    padding-top: 0;
    list-style-type: none
}

.landingspagina #hoofd_content .mod.box ul li {
    margin-bottom: 0
}

.landingspagina #hoofd_content .mod.box ol {
    margin-left: 16px
}

.landingspagina #hoofd_content .box.intro p:first-child {
    padding-top: 1em
}

.landingspagina #hoofd_content .mod.box.midden p {
    text-align: center;
    padding-top: 1em
}

.landingspagina #hoofd_content .mod.box.midden h2 {
    text-align: center
}

.landingspagina #hoofd_content h3 {
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 0
}

.landingspagina #hoofd_content .box.afbeelding-met-onderschrift img,
.landingspagina #hoofd_content .box.afbeelding-met-onderschrift h2 {
    margin-bottom: 0;
    padding-bottom: 0
}

.landingspagina #hoofd_content .mod.box.media h2 + div.movie {
    padding-top: 0
}

.landingspagina #hoofd_content .mod.box.bd-donkergrijs h2 {
    color: #fff
}

.landingspagina #hoofd_content .mod.box.open.light h3.transparent {
    background-color: transparent;
    font-size: 1.5em
}

.landingspagina #hoofd_content .box.lp_breed_blok p {
    padding: 10px 10px 10px 15px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.4em
}

.landingspagina #hoofd_content .bd-donkergrijs a:hover {
    color: #fff
}

.landingspagina #hoofd_content ul {
    list-style-type: square;
    margin-left: 16px
}

.landingspagina #hoofd_content ul li {
    padding-left: 0
}

.landingspagina #hoofd_content ul.hyperlinks, ul.hyperlinks ul {
    list-style-type: none;
    margin-left: 0
}

.landingspagina #hoofd_content ul.hyperlinks li {
    margin-bottom: .5em;
    padding-left: 11px
}

.landingspagina #hoofd_content ul.external, ul.external ul {
    list-style-type: none;
    margin-left: 0
}

.landingspagina #hoofd_content ul.external li {
    margin-bottom: .5em;
    padding-left: 16px
}

.landingspagina #hoofd_content .movie ul, .landingspagina #hoofd_content .audiocontent ul {
    margin-bottom: .5em;
    margin-left: 10px
}

.landingspagina #hoofd_content .movie ul li, .landingspagina #hoofd_content .audiocontent ul li {
    margin-bottom: .5em;
    padding-left: 15px
}

.banner img {
    height: 60px;
    width: 60px;
    margin-left: 0
}

.banner {
    background-position: -1px -1px;
    width: 207px;
    height: 50px;
    position: relative;
    padding-top: 10px
}

.banner a.bloklink {
    position: absolute;
    top: 0;
    left: 0;
    width: 207px;
    height: 60px
}

.mod.banner {
    padding-bottom: 0
}

.campagne_content_add img {
    margin-bottom: .5em
}

.mod.box.campagne_content_add img {
    margin-bottom: .5em;
    padding-left: 1.2em;
    padding-top: 1em
}

.mod.box.campagne_content_add p, .campagne_content_add p {
    margin: 0;
    padding: 0
}

.datumblok {
    width: 35px;
    height: 34px;
    background-color: #e1e1e1;
    border-top: 6px solid #ccc;
    text-align: center;
    float: left;
    margin-right: 5px
}

.belangrijkedata {
    width: 210px;
    padding-top: 5px
}

.belangrijkedata .datumdag {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px
}

.belangrijkedata .datummaand {
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase
}

.belangrijkedata .datumtekst {
    min-height: 50px
}

.belangrijkedata .datumtekst a:link {
    line-height: 12px;
    font-size: 11px
}

.belangrijkedata .datumtekst a:visited {
    color: #154273
}

.belangrijkedata .datumtekst a:hover {
    text-decoration: underline;
    color: #0162cd
}

.belangrijkedata {
    background-position: -1px -1px;
    height: 50px;
    position: relative
}

.belangrijkedata a.bloklink {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px
}

.belangrijkedata a:visited {
    text-decoration: none
}

.voorloop .rsbtn_classic {
    padding-bottom: 10px
}

.formulier .light_blue form.form_ll fieldset li {
    background-color: #eef7fb
}

.formulier .mint_green form.form_ll fieldset li {
    background-color: #ebf8f4
}

.formulier .red form.form_ll fieldset li {
    background-color: #f9dfdd
}

.formulier form p.mandatory {
    font-size: 11px;
    margin-bottom: -1.5em;
    color: #767676
}

.formulier form legend {
    font-size: 11px
}

.formulier form.form_ll fieldset {
    margin-bottom: .5em
}

form.form_ll input.input-small {
    width: 10em
}

form .help-in-input-line {
    color: #767676
}

.content_main form input.text {
    margin: 0;
    padding: 0 0 0 2px
}

.subselect input {
    margin-left: -1.3em
}

form.form_ll fieldset.subselect label {
    margin-left: 14.2em;
    width: auto
}

.js-link:hover {
    cursor: pointer
}

.nojs-hide {
    display: none
}

a.js-close-block:link {
    text-decoration: underline
}

.box.closed.help {
    border: 1px solid #97968c;
    background-color: #fcf6ba;
    margin-left: 10px
}

.clTopClose {
    margin-bottom: 0;
    padding: 5px
}

.nav_sub .themaoverstijgend li a.active {
    color: #0162cd;
    text-decoration: underline;
    background-color: transparent
}

.overzicht #to-menu {
    margin-top: -.7em
}

.doelgroeppagina .line .mod.box.open.lighter.themaoverstijgend {
    margin-top: 1.5em;
    background-color: #f3f5f6;
    border: 1px solid #ccc;
    float: left;
    padding-bottom: 1.5em
}

.doelgroeppagina .line .mod.box.open.lighter.themaoverstijgend ul {
    list-style-type: none;
    background-color: #f3f5f6;
    float: left;
    width: 207px
}

.doelgroeppagina .line .mod.box.open.lighter.themaoverstijgend ul li {
    width: 205px;
    float: left;
    padding-left: 5px;
    margin-top: .5em
}

.doelgroeppagina .line .mod.box.open.lighter.themaoverstijgend ul li a {
    font-weight: bold
}

.nav_sub .unit .mod.box.open.lighter.themaoverstijgend {
    margin: 0 0 0 4px
}

form.error-search label, .error-search input.text, .error-search input.submit {
    font-size: 11px
}

form.error-search input.submit {
    margin: 0 0 0 -5px;
    padding: 1px 3px
}

form.error-search input.submit, x:-moz-any-link {
    padding: 0 0 1px 0
}

form.error-search input.text {
    padding: 1px 3px;
    width: 150px
}

.doelpagina .content_main .line .right {
    padding-right: 20px
}

.rss_icon a img {
    margin-bottom: -3px
}

.rss_titel {
    font-size: 1.1em
}

#interactie_bar ul li {
    display: inline;
    margin-right: 10px
}

.click_box {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 0
}

.click_box_open {
    border: 1px solid #000
}

.click_box .js-close-block {
    display: block
}

.click_box .bd-icons li a {
    padding-left: 16px;
    margin-left: -16px
}

.themapagina .click_box .bd-icons li a {
    padding-left: 21px;
    margin-left: -16px
}

.click_box form {
    padding-right: 0;
    padding-bottom: 5px
}

.click_box form p {
    margin: 0;
    padding: 0
}

.click_box form input.submit {
    background-color: #fff
}

.click_box form ol li {
    padding-bottom: 7px
}

.click_box .label {
    float: left;
    width: 70px
}

.click_box .message_err {
    margin-bottom: 1em;
    margin-top: 1.5em
}

#feedback_form select, #feedback_form input, #feedback_form textarea {
    font-size: 11px
}

#feedback_form textarea {
    resize: none
}

#feedback_box .clTopClose a {
    margin-top: -10px
}

#fb_type {
    width: 160px;
    border: 1px solid #000
}

#fb_onderwerp {
    width: 340px;
    height: 16px
}

#fb_reactie {
    height: 80px;
    width: 409px;
    padding: 2px;
    margin: 0
}

form .veld_info {
    color: #707477;
    float: right
}

form .veld_info_error {
    color: red
}

.message_err {
    display: none
}

.message_err p {
    margin: 0;
    padding: 0
}

form input.init_text {
    color: #ccc
}

form .input_error label {
    color: red
}

form .input_error input, form .input_error textarea {
    border: 1px solid red
}

form input[type="checkbox"] {
    border: 0
}

.zoeken fieldset ol {
    width: 502px;
    margin-bottom: 1px
}

.zoeken fieldset ol li label {
    width: 216px
}

.zoeken fieldset ol li label.eenvoudig {
    width: 100px
}

.zoeken fieldset input.text {
    height: 13px
}

.zoeken fieldset input.textsmall {
    width: 75px;
    border: 1px solid #000
}

.zoeken fieldset input.submit {
    height: 1.7em;
    padding: .1em .4em .3em .4em
}

.zoeken fieldset input.submit.eenvoudig {
    height: 1.8em;
    margin: 0 0 0 -1px
}

.zoeken fieldset input.submit.uitgebreid {
    margin-left: 220px;
    padding: .1em .4em
}

.zoeken fieldset p a.zoek {
    padding-left: 30px
}

.zoeken fieldset p {
    margin: 0
}

.zoeken fieldset p.uitgebreid {
    margin-left: 75px
}

.zoeken .aantalresultaten {
    padding: 10px 0 5px 0;
    margin: 10px 20px 0 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
}

.zoeken .aantalresultaten p {
    margin-bottom: 5px
}

.zoeken .resultaten p.details {
    color: #767676
}

.zoeken .aantalresultaten a.bd-icons {
    margin-left: 6px
}

.zoeken .line.resultaten_navpag p {
    margin-top: -35px;
    float: right
}

.zoeken .line.resultaten_navpag .nav_page {
    border-top: 1px solid #000;
    margin-right: 20px
}

.zoeken .line.resultaten_navpag .nav_page a {
    text-decoration: none
}

.zoeken .list {
    border: 0
}

.zoeken .mod.box.open.lighter.zoekenbox {
    margin-top: 1.5em;
    border: 1px solid #ccc;
    background-color: #f3f5f6;
    width: 210px
}

.zoeken .mod.box.open.lighter.zoekenbox h2, .zoeken .mod.box.open.lighter.zoekenbox h3,
.zoeken .mod.box.open.lighter.zoekenbox h4 {
    font-size: 1.1em;
    background-color: transparent;
    margin: 2px 0 0 0;
    padding: 0 0 3px 5px
}

.zoeken .mod.box.open.lighter.zoekenbox h4 {
    margin: 0
}

.zoeken .mod.box.open.lighter.zoekenbox ul {
    margin: 0 0 15px 0;
    padding: 0
}

.zoeken .mod.box.open.lighter.zoekenbox ul.listitem {
    list-style-type: none;
    padding: 0;
    margin-left: 5px
}

.zoeken .mod.box.open.lighter.zoekenbox ul.listitem li {
    background-repeat: no-repeat;
    padding-left: 10px;
    background-position: 0 2px
}

.zoeken .mod.box.open.lighter.zoekenbox ul.lastlist {
    margin-bottom: 10px
}

.zoeken ul.list li h2 a.bd-icons.pdf {
    padding-left: 15px;
    background-position: -376px -262px
}

.wrapper.formulier img.verzonden-home-icoon {
    margin-bottom: 0
}

:focus {
    outline: 1px dotted blue
}

a:focus, a:focus span {
    text-decoration: underline !important
}

input:focus {
    outline: 2px solid #b8ddf0;
    border-color: #007bc7
}

.mod.box.open.lighter.contactblok h2 {
    margin-bottom: -1em;
    padding-bottom: .5em
}

.mod.box.open.lighter.contactblok p {
    margin-top: -1em;
    padding-bottom: 0;
    color: #154273
}

.content_add .mod.box.open.lighter h3 {
    padding-bottom: 0
}

.content_add .mod.box.open.lighter ul.hyperlinks {
    padding-top: 5px
}

#divExtraNieuws_prive, #divExtraNieuws_zakelijk, #divExtraNieuws_intermediairs,
#divExtraNieuws_douane, #divExtraNieuws_toeslagen {
    display: none
}

.unit.size34.resultaten table tr td {
    white-space: normal
}

.inlineTeller {
    background-color: orange !important;
    color: white !important
}

.disclaimer {
    margin-top: 4.4em
}

.doelpagina table thead tr th p {
    font-size: 1em
}

.doelpagina table tbody tr th p {
    font-size: 1em
}

.doelpagina table tbody tr td p {
    font-size: 1em
}

.doelpagina table tbody tr td {
    font-size: 1.1em
}

.doelpagina table tbody tr td ul {
    font-size: 1em
}

.doelpagina table tbody tr td ol {
    font-size: 1em
}

ul li img.icoon {
    margin: .1em .5em -0.2em -1em
}

.overzicht fieldset li {
    background-color: transparent;
    padding: 0
}

.list_select {
    background-color: #ddeff8;
    padding: 4px 2px 5px 3px;
    float: left;
    width: 100%;
    margin-bottom: 2px
}

.list_select select, .list_select input {
    margin-top: 2px
}

.message_help {
    width: 101.15%
}

.message_help .message_info {
    background-image: none;
    clear: both;
    font-size: 10px;
    padding: 4px 10px 5px 5px;
    margin-top: 0
}

.message_help .message_info ol {
    margin-left: 21px
}

.message_help .message_info p {
    margin-top: 0
}

.btn_info {
    background-color: #fef1bc;
    border: 1px solid #f1ce34;
    color: #000;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.2;
    position: relative;
    text-align: center;
    width: 1.4em;
    z-index: 100;
    padding-left: 1px
}

.overzicht ol a.btn_info {
    text-decoration: none !important
}

.content_main ol .btn_info:hover, .btn-info-on:link {
    background-color: #154273;
    border: solid 1px #154273;
    color: #fff
}

.btn_info.open {
    margin-right: 1px
}

.btn_info.close {
    margin-right: -6px
}

.box_head_link {
    position: relative;
    top: -30px;
    float: right;
    padding-right: 5px
}

.tweet {
    width: 270px
}

.tweet .avatar {
    width: 48px;
    float: left
}

.tweet .txt {
    width: 210px;
    float: right
}

.tweet .avatar img {
    border: 1px solid red
}

.jspScrollable, .time_user {
    clear: both
}

.cookie {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
    top: -2.65em
}

.cookie p {
    margin: 0;
    padding: 8px 20px 12px;
    font: 1em / 1.2 'Verdana', 'Geneva', sans-serif;
    text-align: center
}

* html .cookie {
    position: absolute;
    height: 1%
}

#content_add .box h2 a.koplink {
    text-decoration: underline
}

.verstoringsbericht table th {
    background-color: #ddeff8;
    font-weight: bold;
    text-align: left;
    font-size: 1em
}

.verstoringsbericht table tr td {
    background-color: #eef7fb
}

.verstoringsbericht h1 {
    margin-top: .3em;
    margin-bottom: .3em
}

.verstoringsbericht .details {
    color: gray
}

.fiod .maincolumn {
    font-family: "RO Sans", Verdana, Arial, sans-serif;
    font-size: .8rem;
    margin: 0 !important
}

.fiod h1, #home .bd-row h2 {
    font-family: "RO Sans", Arial, Verdana, sans-serif
}

#home .bd-row h2, .fiod h2 {
    font-size: 1.5rem;
    font-weight: bold
}

.fiod .content * , .fiod .content * :before, .fiod .content * :after {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.fiod .bd-row {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 2rem
}

.fiod .bd-row:after {
    clear: both
}

.fiod .bd-1of12 {
    width: 8.3333%
}

.fiod .bd-2of12 {
    width: 16.6666%
}

.fiod .bd-3of12 {
    width: 25%
}

.fiod .bd-4of12 {
    width: 33.3333%
}

.fiod .bd-5of12 {
    width: 41.6666%
}

.fiod .bd-6of12 {
    width: 50%
}

.fiod .bd-7of12 {
    width: 58.3333%
}

.fiod .bd-8of12 {
    width: 66.6666%
}

.fiod .bd-9of12 {
    width: 75%
}

.fiod .bd-10of12 {
    width: 83.3333%
}

.fiod .bd-11of12 {
    width: 91.6666%
}

.fiod .bd-12of12 {
    width: 100%
}

.fiod .bd-header {
    height: 361px
}

.fiod .bd-header-text, .fiod .bd-header-text h2 {
    color: #fff
}

.fiod .bd-header-text {
    position: relative;
    top: 12rem;
    left: 6rem;
    padding-right: 10rem
}

.fiod .bd-header-text ul.hyperlinks li {
    padding-left: 1.5em;
    line-height: 1.7em
}

.fiod .bd-header-text a, .fiod .bd-header-text a:link, .fiod .bd-header-text a:visited,
.fiod .bd-header-text a:hover, .fiod .bd-header-text a:active {
    color: #fff
}

.fiod .bd-header-box {
    background-color: #b2d7ee;
    width: 17.8rem;
    height: 18.5rem;
    position: relative;
    top: 2rem;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.fiod .bd-header-box img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

#home .bd-header-box-txt {
    padding: .5rem .8rem .8rem .8rem;
    line-height: 1.5rem
}

#home .bd-header-box-txt p {
    font-size: 1.25rem
}

#home .bd-header-box-txt ul li {
    font-size: .875rem;
    font-weight: bold
}

#home .bd-header-box-txt ul li a {
    color: #000
}

#home .bd-header-box-txt h2 {
    margin-bottom: 0rem
}

.fiod .bd-header-box ul.hyperlinks li {
    background-image: none;
    padding-left: 1.5em;
    line-height: 1.7em
}

.fiod .bd-header-box ul.hyperlinks li img {
    width: auto;
    position: absolute;
    top: 7.8rem;
    left: 14rem
}

.fiod .text-box {
    border-right: #000 dotted 1px;
    padding: 1rem 2rem
}

.fiod .text-box:last-of-type {
    border-right: 0
}

.fiod .bg-blue {
    background-color: #ddeff8
}

.fiod .bg-blue .text-box, .fiod .bg-blue.text-box {
    border-right: 0
}

.fiod .bg-blue img {
    width: 100%
}

.fiod .bd-header-text ul.hyperlinks, .fiod .text-box ul.hyperlinks {
    list-style-type: none;
    font-weight: bold
}

.fiod .text-box ul.hyperlinks li {
    padding-left: 1.5em;
    line-height: 1.7em
}

.fiod .content {
    padding: 0
}

.fiod .bd-row p img {
    margin: 0;
    padding: 0
}

.fiod .bd-row h1, .fiod .bd-row h2, .fiod .bd-row h3, .fiod .bd-row h4,
.fiod .bd-row h5, .fiod .bd-row h6, .fiod .bd-row ul, .fiod .bd-row ol, .fiod .bd-row dl,
.fiod .bd-row p, .fiod .bd-row img, .fiod .bd-row blockquote {
    margin: 0;
    padding: 0
}

.fiod .bd-row .rsbtn_classic {
    margin-left: 2rem
}

.fiod .bd-row.no-bottom {
    margin-bottom: 0
}

.fiod .content_add .text-box {
    padding: 1rem
}

.fiod #content .right .content_main {
    width: 65%
}

.fiod #content .right .content_add {
    width: 35%
}

.fiod .nav_sub li a {
    width: 22.9em
}

.fiod .nav_sub li.open li a, .fiod .nav_sub li.active li a {
    width: 22.9em
}

.fiod .nav_sub li.open li.open li a, .fiod .nav_sub li.open li.active li a {
    width: 22.9em
}

.fiod .nav_sub li.open li.open li.open li a, .fiod .nav_sub li.open li.open li.active li a {
    width: 22.9em
}

.fiod .nav_sub li.open li.open li.open li.open li a, .fiod .nav_sub li.open li.open li.open li.active li a {
    width: 22.9em
}

.fiod .nav_sub li.open li.open li.open li.open li.open li a, .fiod .nav_sub li.open li.open li.open li.open li.active li a {
    width: 22.9em
}

.fiod #videobalk .box {
    margin-bottom: 2em
}

.fiod #videobalk .box.media {
    padding-bottom: 10px
}

.fiod #videobalk .box.media .movie {
    padding-top: 0
}

.fiod #videobalk .box.media .mediaplayer {
    padding-left: 0
}

.v2015 .maincolumn {
    font-family: "RO Sans", Verdana, Arial, sans-serif;
    font-size: .8rem;
    margin: 0 !important
}

.v2015 h1, #home .v2015 .bd-row h2, .v2015 .breadcrumb {
    font-family: "RO Sans", Arial, Verdana, sans-serif
}

#home.v2015 .bd-row h1, .v2015 h1 {
    font-size: 1.5rem;
    font-weight: bold
}

#home.v2015 .bd-row h2, .v2015 h2 {
    font-size: 1.6rem;
    font-weight: bold
}

.v2015 .breadcrumb p {
    font-size: .9rem
}

.v2015 .content * , .v2015 .content * :before, .v2015 .content * :after {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.v2015 .bd-row {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 2rem
}

.v2015 .bd-row:after {
    clear: both
}

.v2015 .bd-1of12 {
    width: 8.3333%
}

.v2015 .bd-2of12 {
    width: 16.6666%
}

.v2015 .bd-3of12 {
    width: 25%
}

.v2015 .bd-4of12 {
    width: 33.3333%
}

.v2015 .bd-5of12 {
    width: 41.6666%
}

.v2015 .bd-6of12 {
    width: 50%
}

.v2015 .bd-7of12 {
    width: 58.3333%
}

.v2015 .bd-8of12 {
    width: 66.6666%
}

.v2015 .bd-9of12 {
    width: 75%
}

.v2015 .bd-10of12 {
    width: 83.3333%
}

.v2015 .bd-11of12 {
    width: 91.6666%
}

.v2015 .bd-12of12 {
    width: 100%
}

.v2015 .text-box {
    padding: 1rem 2rem
}

.v2015.aangifte2014 .bd-row.box div div.text-box {
    border-right: #000 dotted 1px
}

.v2015 .bd-row.box div div.text-box {
    background-color: white;
    padding: 0 1rem .5rem 1rem;
    margin: .5rem
}

.v2015 .bd-row div.actionblocks div.text-box {
    padding-top: 10em;
    background-repeat: no-repeat;
    background-position: center 1em;
    border-right: 0
}

.v2015 .red .bd-row div.actionblocks div.text-box {
    background-color: #f9dfdd;
    border-radius: 5px
}

.v2015 .light_blue .bd-row div.actionblocks div.text-box {
    background-color: #ddeff8
}

.v2015 .text-box:last-of-type, .v2015 .bd-row .bd-row > div:last-of-type div.text-box {
    border-right: 0
}

.v2015 .light_blue .bd-bgmiddle {
    background-color: #ddeff8
}

.v2015 .red #videobalk.bd-bgmiddle {
    background-color: #f9dfdd
}

.v2015 .light_blue .bd-bglight {
    background-color: #eef7fb
}

.v2015 .bd-bgmiddle .text-box, .v2015 .bd-bgmiddle.text-box {
    border-right: 0
}

.v2015 .text-box ul {
    list-style-type: square
}

.v2015 .text-box ul li {
    padding-left: 0;
    margin-left: 16px
}

.v2015 .text-box ul li a {
    text-decoration: underline
}

.v2015 .text-box ul.hyperlinks {
    list-style-type: none
}

.v2015 .text-box ul.hyperlinks li {
    margin-left: 0;
    padding-left: 1.5em;
    line-height: 1.3em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0
}

.v2015 .text-box ul.hyperlinks li a {
    text-decoration: none
}

.v2015 .content {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top center
}

.v2015 .bd-row p img {
    margin: 0;
    padding: 0
}

.v2015 .bd-row h1, .v2015 .bd-row h2, .v2015 .bd-row h3, .v2015 .bd-row h4,
.v2015 .bd-row h5, .v2015 .bd-row h6, .v2015 .bd-row ul, .v2015 .bd-row ol,
.v2015 .bd-row dl, .v2015 .bd-row p, .v2015 .bd-row img, .v2015 .bd-row blockquote {
    margin: 0;
    padding: 0
}

.v2015 .bd-row .text-box p, #home.v2015 .bd-row .text-box p, .v2015 .bd-row .text-box h2,
#home.v2015 .bd-row .text-box h2 {
    margin-bottom: .5rem
}

.v2015 .bd-row.no-bottom {
    margin-bottom: 0
}

.v2015 #titlebox {
    padding: .5rem 2rem;
    margin-bottom: 6rem
}

.v2015.aangifte2014 #titlebox {
    background: rgba(143, 202, 231, 0.5)
}

.v2015.definitieve_berekening_2014 #titlebox {
    background: rgba(243, 245, 246, 0.5)
}

.v2015.aangifte2014 #titlebox * {
    color: #fff
}

.v2015.definitieve_berekening_2014 #titlebox * {
    color: #000
}

.v2015 #titlebox p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0
}

.v2015 .bd-blockAction {
    position: relative;
    font-size: 1.3rem
}

.bd-blockAction:after {
    clear: both;
    content: '';
    display: block
}

.v2015 .bd-actionLink {
    width: 17rem;
    background-color: #e06f00;
    border-radius: 22px;
    padding: 0 5px 3px 30px;
    height: 24px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-bottom: 1em
}

.v2015 .bd-actionLink::before {
    content: '';
    background-repeat: no-repeat;
    background-color: #d42b1e;
    background-position: .2em .3em;
    border-radius: 13px;
    width: 24px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 24px
}

.v2015 .bd-actionLink:hover, .v2015 .bd-actionLink:focus {
    background-color: #d42b1e;
    color: #fff;
    text-decoration: none
}

.v2015 .bd-row .text-box .bd-blockAction p {
    margin-bottom: .5rem
}

.aangifte2014 #bd-footer > div:nth-child(2) {
    text-align: center;
    border-left: #000 dotted 1px;
    border-right: #000 dotted 1px
}

#bd-footer > div:nth-child(2) img {
    margin-bottom: -5px
}

#bd-footer > div:nth-child(3) {
    padding: 1rem 1rem
}

#bd-footer > div:nth-child(3) h2 a {
    font-size: 1.7rem
}

.v2015 .breadcrumb.left {
    min-height: 20px
}

.v2015 .breadcrumb.left p {
    margin-bottom: 6px;
    margin-left: 24px
}

.v2015 .red .bd-row div.actionblocks div.text-box.question p {
    margin-bottom: 0 !important
}

.v2015 .nav_sub li a {
    width: 22.9em
}

.v2015 .nav_sub li.open li a, .v2015 .nav_sub li.active li a {
    width: 22.9em
}

.v2015 .nav_sub li.open li.open li a, .v2015 .nav_sub li.open li.active li a {
    width: 22.9em
}

.v2015 .nav_sub li.open li.open li.open li a, .v2015 .nav_sub li.open li.open li.active li a {
    width: 22.9em
}

.v2015 .nav_sub li.open li.open li.open li.open li a, .v2015 .nav_sub li.open li.open li.open li.active li a {
    width: 22.9em
}

.v2015 .nav_sub li.open li.open li.open li.open li.open li a, .v2015 .nav_sub li.open li.open li.open li.open li.active li a {
    width: 22.9em
}

.v2015 #videobalk .box {
    margin-bottom: 2em
}

.v2015 #videobalk div.bd-bglight {
    padding: .3rem 2rem
}

#home.v2015 .bd-row #videobalk div.bd-bglight h2 {
    margin-bottom: 0
}

.v2015 #videobalk .box.media {
    padding: .8rem 2rem
}

.v2015 #videobalk .box.media .mediaplayer {
    padding-left: 0
}

#bd-nojs {
    text-align: center;
    background-color: #fff;
    margin-top: -30px;
    padding-bottom: 20px
}

#rsp_content_add {
    position: relative;
    z-index: 1000
}

.line > .rsbtn_classic {
    float: left
}

.rsbtn_classic {
    margin-bottom: 5px
}

.rsbtn_classic .rsbtn_left .rsbtn_text {
    font-family: Verdana, Arial, sans-serif;
    padding-left: 1.5em;
    font-size: 11px;
    line-height: 10px
}

.rsbtn_classic .rsbtn_playerarea .rsbtn_bottomlinks {
    display: none
}

.rsbtn_classic .rsbtn_playerarea {
    width: 200px;
    padding-bottom: 3px !important
}

.rsbtn_classic .rsbtn_progress_container.rsimg {
    width: 130px !important
}

.rsbtn_classic span.rsbtn_topbar a.rsbtn_icon {
    display: none
}

.rsbtn_classic.rspopup {
    padding: 3px 5px 3px 3px
}

.rsbtn_classic.rscompact {
    width: 47px !important
}

.rsbtn_classic.rspopup.rscompact .rsbtn_play .rsbtn_left .rsbtn_text {
    height: 12px
}

.rsbtn_classic.rspopup .rsbtn_icon {
    display: none
}

.rsbtn_classic.rspopup .rsbtn_settings.rsimg {
    display: none
}

.rsbtn_exp.rsimg.rspart .rsbtn_closer.rsimg {
    margin-left: 5px
}


